<header>
    <nav id="navbar">
        <a href="/" class="highlight-text">uwubigbrain.club</a>
        <a href="link1">Blog</a>
        <a href="link1">Events</a>
        <a href="link1">About</a>
        <a href="link1">Discord</a>
        <a id="auth-button" class="highlight-text" href="https://discord.com/api/oauth2/authorize?client_id=1209270223593799800&response_type=code&redirect_uri={{config.EndpointUriEncoded}}%2Fauth&scope=identify">Login</a>
    </nav>
</header>