<header>
    <nav id="navbar">
        <a href="/" class="highlight-text">uwubigbrain.club</a>
        <a href="link1">Blog</a>
        <a href="link1">Events</a>
        <a href="link1">About</a>
        <a href="link1">Discord</a>
    </nav>
</header>