<!DOCTYPE html>
<html>
  @include('partials/head')
<body>
  @include('partials/header')
  <main>
    <h1 class="centered centered-text">
      Welcome to this mega epic website!
    </h1>
    <img src="https://cdn.discordapp.com/icons/727110134295429193/3bf212205897905d1b5c1340338c4c72.webp?size=2048" class="centered image">
  </main>
  @include('partials/footer')
</body>
</html>
