<!DOCTYPE html>
<html>
  @include('partials/head')
<body>
  @include('partials/header')
  <main>
    <p class="section centered">
        This is a passion project maintained (at least for the time being) and developed by me, <strong>spaghetsie</strong>.
        It all started because I bought this stupid, er I mean mega epic domain and now we're here. It runs on node.js using express.js on
        some free (fingers crossed) tier tiny weany vm from google. If you wanna know more (for whatever reason, I don't judge) have a look
        at the github. It's not open-source for show (Well kinda is... those juicy contributions are nice). Or shoot me a message...
        somewhere/anywhere. I'm sure you will find a way :wink:. Ye I kinda forgot to mention the point of this site is to be
        a something-something to a friend group discord server. Anyways stay epic.
    </p>  <div class="tenor-gif-embed centered section" data-postid="18346118" data-share-method="host" data-aspect-ratio="1.50235"><a href="https://tenor.com/view/cat-club-club-gif-18346118">Cat Club Club GIF</a>from <a href="https://tenor.com/search/cat-gifs">Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <br>
    <h1 class="centered centered-text">UPDATE!!!!</h1>
    <p class="section centered">
        We are so back! so yeah that fingers crossed thingy wasn't crossed enough. I got billed by google :O I'm pretty
        sure it said I had some free trial credits but whatever. Google console sucks ass anyways. Not that Oracle cloud is any more 
        user friendly but at least it's responsive right? Oh did I mention I migrated to oracle after like a 6 month downtime? WOW 
        such great maintenance. Shows what a great server-person-thing I am right? But yeah this server was made to run a minecraft server
        but yesterday I was talking to mum about hosting her a website and it reminded me that this domain still exists and that I should
        probably use it for something so I'm not like those people that just sit on a domain and raise it's price &gt:( So yeah that's what I
        did... no actually tried to do. After such a long time this cocaine like mania hit me and I just wouldn't get up from my chair 
        until I could get it to work. My god so many many hair-pulling hurdles. I spent like 5 hours blazing through every forum known to man
        4.5 of which was just banging my head against my desk and then I recalled eating is a thing so I got my first meal at like 2pm. I then
        had some stuff to do so I just got my brain to work on it in the background. Unfortunately brain dum. <i>But when I had to take a shit this evening...</i> <strong>BAM</strong>
        it hit me. It was so simple too. I forgot to configure oracles firewall. AAAAAAAA. so stupid. But that wasn't the last problem ;_; .....
        But as of 27th of August 23:58 (GMT+2) WE ARE BACK ONLINE BABYYYY. I think I ate like 1000 kcal today tops. I'm supposed to be on a bulk ;-;
        other than that I love jerk inducing manias :D anyanyways I love yall &lt3
        <br><br>
        me and my last brain cell on my way to claim my 5 hours of sleep:
    </p>
   <div class="tenor-gif-embed centered section" data-postid="15031940" data-share-method="host" data-aspect-ratio="1.56098" data-width="100%"><a href="https://tenor.com/view/football-kitty-cute-cats-gif-15031940">Football Kitty GIF</a>from <a href="https://tenor.com/search/football-gifs">Football GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </main>
  @include('partials/footer')
</body>
</html>