<!DOCTYPE html>
<html>
  @include('partials/head')
<body>
  @include('partials/header')
  <main>
    <p class="paragraph centered">
        This is a passion project maintained (at least for the time being) and developed by me, <strong>spaghetsie</strong>.
        It all started because I bought this stupid, er I mean mega epic domain and now we're here. It runs on node.js using express.js on
        some free (fingers crossed) tier tiny weany vm from google. If you wanna know more (for whatever reason, I don't judge) have a look
        at the github. It's not open-source for show (Well kinda is... those juicy contributions are nice). Or shoot me a message...
        somewhere/anywhere. I'm sure you will find a way :wink:. Ye I kinda forgot to mention the point of this site is to be
        a something-something to a friend group discord server. Anyways stay epic.
    </p>
    <div class="tenor-gif-embed centered" data-postid="18346118" data-share-method="host" data-aspect-ratio="1.50235" data-width="50%"><a href="https://tenor.com/view/cat-club-club-gif-18346118">Cat Club Club GIF</a>from <a href="https://tenor.com/search/cat-gifs">Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </main>
  @include('partials/footer')
</body>
</html>