<!DOCTYPE html>
<html>
  @include('partials/head')
<body>
  @include('partials/header')
  <main>
    <h1 style="color:red">Important! I am currently resolving an issue with an ip-overlap-like issue. Please check the url above is <strong>uwubigbrain.club</strong> I apologize for the inconvenience.</h1>
    <h1 class="centered centered-text">
      Welcome, 
      
        @if(request.session.user)
          <span style="color: color-mix(in srgb, {{request.session.user.banner_color}}, white)">
          {{ request.session.user.username }}
        @else
          <span>
          traveler
        @end
      </span>, to this mega epic website!
    </h1>
    <img src="https://cdn.discordapp.com/icons/727110134295429193/3bf212205897905d1b5c1340338c4c72.webp?size=2048" class="centered image">
  </main>
  @include('partials/footer')
</body>
</html>